<select>
    {{#each arrayObject.channelArray}}
        <option value="{{this}}">#{{this}}</option>
    {{/each}}
</select>
<script>
$(document).ready(function(){
    $("select").change(function(){
        var channel = $(this).val(); 
        window.location = '/channel/' + channel;
    });    
});
</script>