# Meta files
.sass-cache
.DS_Store

# Node and Bower components
node_modules
bower_components

# Assets and files that we're actually compile
public/assets/fonts
public/assets/svg
public/assets/css/style.css
public/assets/js/build.js
public/assets/js/modernizr.js

# Settings file
settings.json
