# Meta files
.sass-cache
.DS_Store

# Node and Bower components
node_modules
bower_components

# Assets and files that we're actually compile
public/fonts
public/svg
public/css/style.css
public/js/build.js
public/js/modernizr.js

# Misc
opt