<div class="starter-template">
    <article class="markdown-body entry-content" itemprop="mainContentOfPage">
        <h1>
    <a name="user-content-znc-logviewer" class="anchor" href="#znc-logviewer" aria-hidden="true"><span class="octicon octicon-link"></span></a>znc-logviewer</h1>
        <p>
            Node based web interface to browse through ZNC log files.
        </p>
        <p>
            The project is a work in progress!
        </p>
        <h3>
    <a name="user-content-requirements" class="anchor" href="#requirements" aria-hidden="true"><span class="octicon octicon-link"></span></a>Requirements</h3>
        <ul class="task-list">
            <li>Installed <code>npm</code> and <code>grunt</code>: <code>npm install -g grunt-cli</code>
            </li>
            <li>Enabled global ZNC logs (<code>${ZNCUSERHOME}/.znc/moddata/log/</code>)</li>
        </ul>
        <h3>
    <a name="user-content-installation" class="anchor" href="#installation" aria-hidden="true"><span class="octicon octicon-link"></span></a>Installation</h3>
        <ol class="task-list">
            <li>Clone the repository: <code>git clone https://github.com/frdmn/Live.app</code>
            </li>
            <li>Install all dependencies: <code>npm install</code>
            </li>
            <li>Install web libraries: <code>bower install</code>
            </li>
            <li>Run grunt task: <code>grunt</code>
            </li>
        </ol>
        <h3>
    <a name="user-content-dependencies" class="anchor" href="#dependencies" aria-hidden="true"><span class="octicon octicon-link"></span></a>Dependencies</h3>
        <ul class="task-list">
            <li>NodeJS (<code>npm</code>)</li>
            <li>Bower</li>
            <li>Grunt</li>
        </ul>
        <h2>
    <a name="user-content-version" class="anchor" href="#version" aria-hidden="true"><span class="octicon octicon-link"></span></a>Version</h2>
        <p>
            0.0.1
        </p>
        <h2>
    <a name="user-content-license" class="anchor" href="#license" aria-hidden="true"><span class="octicon octicon-link"></span></a>License</h2>
        <p>
            <a href="/frdmn/znc-logviewer/blob/master/LICENSE">WTFPL</a>
        </p>
    </article>
</div>