<h1>#{{{channel}}}<small>{{#if date}} - {{{date}}}</small>{{/if}}</h1>

{{> channelselect}}

{{> datepicker}}

{{#if messages}}
    {{#each messages}}
        <code>
            {{this}}
        </code><br>
    {{/each}}
{{/if}}
